.square {
  display: flex;
  box-sizing: border-box;
  width: calc(min(8vw, 8vh));
  height: calc(min(8vw, 8vh));
  min-width: 50px;
  min-height: 50px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.horseIcon {
  width: calc(min(6vw, 6vh));
  height: calc(min(6vw, 6vh));
  min-width: 40px;
  min-height: 40px;
}
