.square {
    box-sizing: border-box;
    width: calc(min(8vw,8vh));
    height: calc(min(8vw,8vh));
    min-width: 50px;
    min-height: 50px;
    /*background: #E8EEF5;
    border: 1px solid #E8EEF5;
    cursor: pointer;*/
  }